@model WebBanSanPhamCongNghe.Areas.Admin.Data.Customer

<!--begin::User Menu Dropdown-->
<li class="nav-item dropdown user-menu">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <img src="~/Images/Customer/@Model.Img"
             class="user-image rounded-circle shadow"
             alt="User Image" />
        <span class="d-none d-md-inline">@Model.FirstName @Model.LastName</span>
    </a>
</li>
<!--end::User Menu Dropdown-->